html {
  min-height: 100%;
  margin: 0;
  font-size: $common_text;
  line-height: $common_text_lh;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @include indent(0, 0);

  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
