.card {
  border: 1px solid red;
  position: relative;
  border-radius: 22px;
  background-color: $card-color;
  background-repeat: no-repeat;

  &:active {
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
  }

  &_action_critical {
    background-color: $critical-color;
    color: #fff;
  }

  &_icon_stats {
    background-image: url(" ../img/stats.svg");
    background-position: 17px 27px;
    background-size: 35px 17px;
  }

  &_icon_key {
    background-image: url(" ../img/key.svg");
    background-position: 17px 18px;
    background-size: 35px 35px;
  }

  &_icon_robot-cleaner {
    background-image: url(" ../img/robot-cleaner.svg");
    background-position: 17px 24px;
    background-size: 35px 21px;
  }

  &_icon_router {
    background-image: url(" ../img/router.svg");
    background-position: 18px 20px;
    background-size: 34px 31px;
  }

  &_icon_thermal {
    background-image: url(" ../img/temperature.svg");
    background-position: 18px 18px;
    background-size: 35px 35px;
  }

  &_icon_ac {
    background-image: url(" ../img/air-conditioner.svg");
    background-position: 17px 20px;
    background-size: 35px 29px;
  }

  &_action_critical.card_icon_ac {
    background-image: url(" ../img/ac-white.svg");
  }

  &_icon_music {
    background-image: url(" ../img/music.svg");
    background-position: 16px 16px;
    background-size: 36px 37px;
  }

  &_icon_fridge {
    background-image: url(" ../img/fridge.svg");
    background-position: 20px 17px;
    background-size: 28px 35px;
  }

  &_icon_battery {
    background-image: url(" ../img/battery.svg");
    background-position: 17px 25px;
    background-size: 35px 18px;
  }

  &_icon_cam {
    background-image: url(" ../img/cam.svg");
    background-position: 17px 21px;
    background-size: 35px 26px;
  }

  &_action_critical.card_icon_cam {
    background-image: url(" ../img/cam-white.svg");
  }

  &_icon_kettle {
    background-image: url(" ../img/kettle.svg");
    background-position: 20px 17px;
    background-size: 30px 35px;
  }

  &__close-btn,
  &__open-btn {
    width: 17px;
    height: 17px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__close-btn {
    top: 15px;
    right: 15px;
    background-image: url(" ../img/cross.svg");
  }

  &_action_critical &__close-btn {
    background-image: url(" ../img/cross-white.svg");
  }

  &__open-btn {
    bottom: 15px;
    right: 10px;
    background-image: url(" ../img/next.svg");
    background-size: 11px 17px;
  }

  &__wrapper {
    height: 100%;
    padding: 23px 35px 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  &__title-wrap {
    height: 36px;

  }
  &__title {
    font-size: 0.7rem;
    line-height: 0.85rem;
    margin: 0 0 0 51px;
    position: relative;
    text-overflow: ellipsis;
  }

  &__description {
    font-size: 0.9rem;
    color: #333;
    padding-top: 16px;
  }

  &__widget {
    margin-top: 25px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: auto 0 16px;
  }

  &__source,
  &__time {
    font-size: 0.6rem;
    line-height: 0.7rem;
    margin: 15px 0 0;
  }

  &__source {
    width: 60%;
  }

  &__time {
    width: 40%;
    text-align: right;
  }

  &__extra-content {
    border-radius: 18px;
    background-color: $card-color;
    padding: 0 35px 16px 16px;
  }
}

@media only screen and (min-width: 650px) {
  .card {
    display: flex;
    flex-direction: column;

    &__wrapper {
      padding-top: 16px;
    }
    &__extra-content {
      flex-grow: 1;
    }

  }

  .card_size_s .card__info {
   flex-direction: column;
  }

  .card_size_s .card__time {
    text-align: left;
  }
}



