.climate {
  display: flex;
  justify-content: flex-start;
  font-size: 0.7rem;
  line-height: 0.8rem;

  &__temperature-value,
  &__humidity-value {
    font-weight: bold;
  }

  &__temperature,
  &__humidity {
    font-size: 0.5rem;
  }

  &__humidity {
    margin-left: 70px;
  }
}

@media only screen and (min-width: 680px) {
  .climate {
    font-size: 0.8rem;

    &__humidity {
      margin-left: 30px;
    }

    &__temperature,
    &__humidity {
      font-size: 0.55rem;
    }
  }
}

@media only screen and (min-width: 920px) {
  .climate {
    font-size: 0.6rem;

    &__humidity {
      margin-left: 52px;
    }
  }
}
