.event-feed-not-touchscreen .card__close-btn,
.event-feed-not-touchscreen .card__open-btn {
  display: none;
}

.event-feed-not-touchscreen .card:hover:not(.card_action_critical),
.event-feed-not-touchscreen .card:active:not(.card_action_critical),
.event-feed-not-touchscreen .card:hover:not(.card_action_critical) .card__extra-content,
.event-feed-not-touchscreen .card:active:not(.card_action_critical) .card__extra-content {
  background-color: #f3f3f3;
}

.event-feed-not-touchscreen .card:hover:not(.card_action_critical),
.event-feed-not-touchscreen .card:active:not(.card_action_critical) {
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
}

.event-feed-not-touchscreen .card:hover .card__close-btn,
.event-feed-not-touchscreen .card:active .card__close-btn,
.event-feed-not-touchscreen .card:hover .card__open-btn,
.event-feed-not-touchscreen .card:active .card__open-btn {
  display: block;
  z-index: 1;
  background-color: rgba(243, 243, 243, 0.9);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(243, 243, 243, 1);
}

.event-feed-not-touchscreen .card__wrapper,
.event-feed-not-touchscreen .card__extra-content {
  padding-right: 16px;
}

.event-feed-not-touchscreen .card_action_critical:hover .card__close-btn,
.event-feed-not-touchscreen .card_action_critical:active .card__close-btn {
  background-color: rgba(219, 83, 65, 0.9);
  box-shadow: 0 0 20px rgba(219, 83, 65, 0.8);
}
