.footer {
  margin-top: auto;
  height: 64px;
  font-size: $sub_text;
  line-height: $sub_text_lh;
  letter-spacing: 0.01px;
  color: $grey;

  &__wrapper {
    @include wrapper();

    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    white-space: nowrap;
  }
}

@media (max-width: 670px) {
  .footer {
    &__wrapper {
      flex-direction: column;
      justify-content: space-around;
      padding: 5px 0;
    }
  }
}

@media (max-width: 440px) {
  .footer {
    font-size: 11px;
  }
}

