.main {
  min-width: 446px;

  &__wrapper {
    display: flex;
    width: 100%;
    min-width: 446px;
    height: 330px;
    padding: 20px 20px 0 25px;
    overflow: hidden;
    border-radius: 20px;
    background: url("../img/bg@1x.png") no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg@2x.png");
    }
  }

  &__info-block {
    margin-right: auto;
    padding-right: 20px;
  }

  &__greeting {
    @include indent(0, 0);

    font-size: 27px;
    line-height: 31px;
    font-weight: bold;
    margin-top: 3px;
  }

  &__info {
    margin: 6px 0 23px;
  }
}

@media (max-width: 500px) {
  .main {
    max-width: 100%;
    width: 100%;
    min-width: 335px;

    &__wrapper {
      flex-direction: column;
      padding: 20px 0 20px 20px;
      min-width: 335px;
      height: 282px;
    }

    &__greeting {
      font-size: 18px;
      line-height: 21px;
    }

    &__info {
      font-size: 12px;
      line-height: 14px;
      margin: 5px 0 15px;
    }

    &__info-block {
      margin-bottom: 15px;
    }
  }
}
