.page {
  min-height: 100vh;
  font-weight: 400;
  color: $black;
  background-color: rgb(255, 255, 255);

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
}

