.widget {
  &__wrap_graph {
    width: 100%;
    height: auto;
    //background-image: url("../img/Richdata.svg");
    //background-repeat: no-repeat;
    //background-size: contain;
  }

  &__wrap_cam {
    width: 100%;
    padding-top: 67%;
    border-radius: 20px;
    font-size: 0;
    line-height: 0;
    background-image: url("../img/BitMap@1x.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 150%;
  }

}